body {
  margin: 0;
  width: 100%;
}

header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: white;
  z-index:1;
}

.logo {
  color:MediumAquamarine;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.logo span {
  padding-left: 10px;
}

nav {
  display: inline-flex;
  width: auto;
}

a {
  color: black;
  padding: 10px;
}

.columns {
  border: 5px solid yellow;
  display:flex;
  position: relative;
  top:80px;
  width: 100%;
  justify-content: space-around;
}


.column.large {
  display: inline-flex;
  width: 630px;
  border: 2px solid blue;
  flex-direction: column;
  margin-right: 32px;
}

.column.medium {
  display: inline-flex;
  width: 300px;
  border: 2px solid green;
  flex-direction: column;
  margin-right: 32px;
}

.column.small {
  display: inline-flex;
  width: 240px;
  border: 2px solid red;
  flex-direction: column;
}

#phish-title {
  border: 1px solid black;
  background-image: url("../images/img-story-main.png");
  height: 300px;
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 40px;
}

#phish {
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#orca {
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#backwards {
  border: 1px solid black;
  background-image: url("../images/img-story-2.png");
  height: 300px;
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 30px;
}

#burger {
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#cameras {
  border: 1px solid black;
  background-image: url("../images/img-story-3.png");
  height: 300px;
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 30px;
}

#FBI {
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#cats {
  border: 1px solid black;
  background-image: url("../images/img-story-1.png");
  height: 300px;
  color: white;
  font-weight: bold;
  font-family: Georgia;
  font-size: 30px;
}

#cats-cont {
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#cookie {
  border: 1px solid black;
}

#bites {
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
